@media screen and (max-width:1000px){
    .menu {
        justify-content: space-between;
    }
    
    .menu img {
        display: block;
        width: 45px;
        height: 30px;
        padding: 2px;
        margin: 20px 20px 0px 0px ;
        border: 2px solid white;
    }
    .menu ul {
        display: none;
    }

    .parallax div{
        width: 90%;
    }
    .parallax h1 {
        font-size: 55px;
        padding-bottom: 15px;
    }
    .parallax p {
        font-size: 20px;
    }

    
    .fazemos {
        width:100%;
        margin: 0 auto;
        height: auto;
        margin-bottom: 60px;
    }

    #marketTop {
        flex-wrap: wrap;
    }
    #marketTop1 {
        width: 95%;
    }
    #marketTop2{
        width: 95%;
    }
    .Testimonials {
        height: auto;

    }


    .gallery {
        width: 100%;
        height: auto;
        
    }
    .gallery h1 {
        font-size: 45px;
        margin-top: 120px;
        color: #6666bb;
    }
    .gallery p {
        margin: 0 auto;
        width: 80%;
        color: white;
    }


    .formulario{
        display: block;
        width: 100%;
    }.inputs {
        width: 100%;
    }

    #nome, #email {
        color: white;
        width:80%;
    }
    
    #mensagem {
        width:80%; 
    }
    .chat {
        display: none;
    }
    div {
        width: 100%;
    }
}